<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:label="AuraModa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AuraModa">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity"/>
        <activity android:name=".ui.auth.RegisterActivity"/>
        <activity android:name=".ui.onboarding.OnboardingActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".GaleriaActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ChatActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".FavoritosActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PerfilActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DetalleOutfitActivity"
            android:parentActivityName=".GaleriaActivity"/>
        <activity android:name=".ArmarioActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AgregarPrendaActivity"
            android:parentActivityName=".ArmarioActivity"/>
        <activity android:name=".TryOnActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".EditarPerfilActivity"
            android:parentActivityName=".PerfilActivity"/>
        <activity android:name=".CompartirOutfitActivity"
            android:parentActivityName=".DetalleOutfitActivity"/>
        <activity android:name=".OutfitsRecibidosActivity"
            android:parentActivityName=".PerfilActivity"/>
        <activity android:name=".CompartidosActivity"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>